body {
	padding: 25px;
	background-color: white;
	color: black;
	font-size: 25px;
}

.list-group-item-modified {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	border: none !important;
}




/* White to Dark Transitions */

@keyframes light-to-dark {
	from {
		background-color: rgb(255, 255, 255)
	}

	to {
		background-color: rgb(39, 42, 44);
		color: white;
	}
}


@keyframes white-tts {
	to {
		border: 2px solid white;
		color: white;
	}
}

@keyframes white-text {
	to {
		color: white;
	}
}

@keyframes peach-text {
	to {
		color: rgb(236, 222, 204);
	}
}


.dark-mode {
	animation: light-to-dark 1.5s linear;
	animation-fill-mode: forwards;
}



.white {
	animation: white-text 1.5s linear;
	animation-fill-mode: forwards;
}

.white-tooltips {
	animation: white-tts 1.5s linear;
	animation-fill-mode: forwards;
}

.peach {
	animation: peach-text 1.5s linear;
	animation-fill-mode: forwards;
}



/* Dark to White transitions */

@keyframes dark-to-light {
	from {
		background-color: rgb(39, 42, 44);
	}

	to {
		background-color: rgb(255, 255, 255);
	}
}

@keyframes gray-tts {
	to {
		border: rgba(121, 121, 121, .8);
		color: rgba(121, 121, 121, .8);
	}
}

@keyframes gray-text {
	to {
		color: #55595c;
	}
}

@keyframes non-peach-text {
	from {
		color: rgb(236, 222, 204);
	}

	to {
		color: #181818;
	}
}


.dark-mode {
	animation: light-to-dark 1.5s linear;
	animation-fill-mode: forwards;
}



.light-mode.init {
	animation: dark-to-light 1.5s linear;
	animation-fill-mode: forwards;
}



.gray {
	animation: gray-text 1.5s linear;
	animation-fill-mode: forwards;
}

.gray-tooltips {
	animation: gray-tts 1.5s linear;
	animation-fill-mode: forwards;
}

.non-peach.peach-init {
	animation: non-peach-text 1.5s linear;
	animation-fill-mode: forwards;
}